/* Shared */
/*noinspection CssUnknownTarget*/
@import "../_content/TemplaGroup.Shared/css/theme/default.theme.css?v=1.2"; /* Change theme here */
/*noinspection CssUnknownTarget*/
@import "../_content/TemplaGroup.Shared/css/styles.css?v=1.4";
/*noinspection CssUnknownTarget*/
@import "../_content/TemplaGroup.Shared/TemplaGroup.Shared.bundle.scp.css?v=1.3";

/* Progress */
.loading-progress {
    position: absolute;
    top: 20vh;
    left: calc((100vw / 2) - 4rem);
    display: block;
    width: 8rem;
    height: 8rem;
}

/*noinspection CssUnresolvedCustomProperty*/
.loading-progress circle {
    fill: none;
    stroke: var(--bs-secondary);
    stroke-width: 0.6rem;
    transform-origin: 50% 50%;
    transform: rotate(-90deg);
}

/*noinspection CssUnresolvedCustomProperty*/
.loading-progress circle:last-child {
    stroke: var(--bs-primary);
    stroke-dasharray: calc(3.141 * var(--blazor-load-percentage, 0%) * 0.8), 500%;
    transition: stroke-dasharray 0.05s ease-in-out;
}

.loading-progress-text {
    position: absolute;
    top: calc(20vh + 3.3rem);
    left: calc((100vw / 2) - 4rem);
    width: 8rem;
    text-align: center;
    font-weight: bold;
}

/*noinspection CssUnresolvedCustomProperty*/
.loading-progress-text:after {
    content: var(--blazor-load-percentage-text, "Cargando...");
}

/* Sign-in */
/*noinspection CssUnknownTarget*/
#sign-in .picture {
    min-height: 580px;
    max-height: 580px;
    background-image: url("/v/img/background-dome.jpg");
    background-size: cover;
    background-position: center center;
}

h1:focus {
    outline: none;
}

a, .btn-link {
    color: var(--bs-primary);
}

.content {
    padding-top: 1.1rem;
}

/*noinspection CssUnresolvedCustomProperty*/
.valid.modified:not([type=checkbox]) {
    outline: 1px solid var(--bs-success);
}

/*noinspection CssUnresolvedCustomProperty*/
.invalid {
    outline: 1px solid var(--bs-danger);
}

/*noinspection CssUnresolvedCustomProperty*/
.validation-message {
    color: var(--bs-danger);
}

.btn-wrap-text {
    overflow: hidden;
    white-space: nowrap;
    display: inline-block;
    text-overflow: ellipsis;
}

.fill-none {
    fill: transparent;
}

.fill-primary {
    fill: var(--bs-primary);
}

/*noinspection CssUnresolvedCustomProperty*/
.fill-secondary {
    fill: var(--bs-secondary);
}

/*noinspection CssUnresolvedCustomProperty*/
.fill-dark {
    fill: var(--bs-dark);
}

/*noinspection CssUnresolvedCustomProperty*/
.fill.light {
    fill: var(--bs-light);
}

/*noinspection CssUnresolvedCustomProperty*/
.fill-success {
    fill: var(--bs-success);
}

/*noinspection CssUnresolvedCustomProperty*/
.fill-danger {
    fill: var(--bs-danger);
}

/*noinspection CssUnresolvedCustomProperty*/
.fill-warning {
    fill: var(--bs-warning);
}

/*noinspection CssUnresolvedCustomProperty*/
.fill-info {
    fill: var(--bs-info);
}

/*noinspection CssUnresolvedCustomProperty*/
#blazor-error-ui {
    background: var(--bs-warning);
    color: var(--bs-black);
    bottom: 0;
    box-shadow: 0 -1px 2px rgba(0, 0, 0, 0.2);
    display: none;
    left: 0;
    padding: 0.6rem 1.25rem 0.7rem 1.25rem;
    position: fixed;
    width: 100%;
    z-index: 2000;
}

/*noinspection CssUnresolvedCustomProperty*/
#blazor-error-ui .reload {
    color: var(--bs-danger);
}

/*noinspection CssUnresolvedCustomProperty*/
#blazor-error-ui .dismiss {
    color: var(--bs-danger);
    cursor: pointer;
    position: absolute;
    right: 0.75rem;
    top: 0.5rem;
}

/* Canvas */
canvas {
    width: 100%;
    height: 100%;
}

#canvas-container {
    width: 320px;
    height: 320px;
}

/*noinspection CssUnresolvedCustomProperty*/
#canvas-container-no-card {
    width: 100%;
    height: auto;
    border-width: var(--bs-border-width);
    border-color: var(--bs-border-color-translucent);
    border-style: solid;
    margin: auto;
    padding: 0.25rem;
    border-radius: var(--bs-border-radius);
    background-color: white;
}

#canvas-container-offcanvas {
    width: 100%;
    height: auto;
}

#canvas-container-full-view {
    width: 80%;
    margin-left: auto;
    margin-right: auto;
}

#canvas-base_regular {
    width: 516px;
    height: 1016px;
}

#canvas-base_small {
    width: 300px;
    height: 815px;
}

#canvas-base_left {
    width: 300px;
    height: 925px;
}

#canvas-base_right {
    width: 300px;
    height: 925px;
}

#canvas-base_regular_short {
    width: 516px;
    height: 816px;
}

#canvas-base_regular_top_single {
    width: 516px;
    height: 200px;
}

#canvas-base_regular_top_double {
    width: 1032px;
    height: 200px;
}

#canvas-base_small_short {
    width: 300px;
    height: 615px;
}

#canvas-base_small_top_single {
    width: 300px;
    height: 200px;
}

#canvas-base_small_top_double {
    width: 600px;
    height: 200px;
}

#canvas-base_regular_rotated {
    width: 1016px;
    height: 516px;
}

#canvas-base_regular_square {
    width: 516px;
    height: 516px;
}

#canvas-clip {
    width: 60px;
    height: 52px;
}

#canvas-clip_rotated {
    width: 60px;
    height: 63px;
}

#canvas-clip_top {
    width: 52px;
    height: 60px;
}

#canvas-clip_bottom {
    width: 52px;
    height: 60px;
}

#canvas-clip_top_rotated {
    width: 52px;
    height: 71px;
}

#canvas-clip_bottom_rotated {
    width: 52px;
    height: 71px;
}

#canvas-clip_v {
    width: 40px;
    height: 52px;
}

#canvas-clip_v_rotated {
    width: 40px;
    height: 67px;
}

#canvas-handle {
    width: 20px;
    height: 20px;
}

#canvas-handle_hole {
    width: 30px;
    height: 30px;
}

#canvas-handle_butterfly {
    width: 62px;
    height: 72px;
}

#canvas-hinge {
    width: 82px;
    height: 107px;
}

#canvas-hinge_top_bivel {
    width: 107px;
    height: 83px;
}

#canvas-hinge_bottom_bivel {
    width: 107px;
    height: 83px;
}

#canvas-hinge_rotated {
    width: 83px;
    height: 120px;
}

#canvas-hinge_rotated_inverse {
    width: 83px;
    height: 120px;
}

#canvas-hydraulic_pivot_1_top {
    width: 65px;
    height: 65px;
}

#canvas-hydraulic_pivot_1_bottom {
    width: 65px;
    height: 65px;
}

#canvas-hydraulic_pivot_1_extra {
    width: 100px;
    height: 206px;
}

#canvas-hydraulic_pivot_2_bottom {
    width: 122px;
    height: 75px;
}

#canvas-perforation {
    width: 35px;
    height: 35px;
}

#canvas-trolley_chetumal {
    width: 58px;
    height: 66px;
}

#canvas-trolley_huatulco_1 {
    width: 110px;
    height: 72px;
}

#canvas-trolley_huatulco_2 {
    width: 58px;
    height: 78px;
}

#canvas-bar_regular_h {
    width: 516px;
    height: 48px;
}

#canvas-bar_regular_v {
    width: 48px;
    height: 1016px;
}

#canvas-bar_small_h {
    width: 300px;
    height: 48px;
}

#canvas-bar_small_v {
    width: 48px;
    height: 815px;
}

#canvas-bar_small_l {
    width: 300px;
    height: 151px;
}

#canvas-bar_small_r {
    width: 300px;
    height: 151px;
}

#canvas-bar_small_short_v {
    width: 48px;
    height: 615px;
}

#canvas-bar_small_short_t {
    width: 48px;
    height: 200px;
}

#canvas-bar_regular_d {
    width: 1032px;
    height: 48px;
}

#canvas-bar_small_r_rotated {
    width: 48px;
    height: 831px;
}

#canvas-bar_small_t_d {
    width: 600px;
    height: 48px;
}

#canvas-bar_small_t_t {
    width: 900px;
    height: 48px;
}

#canvas-bar_small_t_q {
    width: 1200px;
    height: 48px;
}

#canvas-bar_small_l_rotated_double {
    width: 600px;
    height: 261px;
}

#canvas-bar_small_r_rotated_double {
    width: 600px;
    height: 261px;
}

#canvas-bar_regular_h_rotated {
    width: 48px;
    height: 516px;
}

#canvas-bar_regular_v_rotated {
    width: 1016px;
    height: 48px;
}

/*Process*/
/*noinspection CssUnresolvedCustomProperty*/
.high-process {
    background-color: var(--bs-danger);
    color: var(--bs-white);
}

/*noinspection CssUnresolvedCustomProperty*/
.cut-process {
    background-color: #00CED1;
    color: var(--bs-black);
}

/*noinspection CssUnresolvedCustomProperty*/
.flatedge-process {
    background-color: #FF6F61;
    color: var(--bs-black);
}

/*noinspection CssUnresolvedCustomProperty*/
.beveledge-process {
    background-color: #E6E6FA;
    color: var(--bs-black);
}

/*noinspection CssUnresolvedCustomProperty*/
.process-process {
    background-color: #DAA520;
    color: var(--bs-black);
}

/*noinspection CssUnresolvedCustomProperty*/
.tempered-process {
    background-color: #DA70D6;
    color: var(--bs-black);
}

/*noinspection CssUnresolvedCustomProperty*/
.laminate-process {
    background-color: #6A5ACD;
    color: var(--bs-white);
}

/*noinspection CssUnresolvedCustomProperty*/
.duovent-process {
    background-color: #228B22;
    color: var(--bs-black);
}

/*noinspection CssUnresolvedCustomProperty*/
.frostedglass-process {
    background-color: #4682B4;
    color: var(--bs-black);
}

/*noinspection CssUnresolvedCustomProperty*/
.delivery-process {
    background-color: #FF6347;
    color: var(--bs-white);
}

/*noinspection CssUnresolvedCustomProperty*/
.warning-border {
    border: var(--bs-card-border-width) solid #FFFF00;
}

.warning-background {
    background-color: #FFFF00;
}