/* Theme Colors */
:root {
    --theme-primary: #D63384;
    --theme-primary-rgb: 214, 51, 132;
    --theme-primary-light: #DE5C9D;
}

/* Background */
#app::before {
    /*noinspection CssUnknownTarget*/
    background-image: url("/_content/TemplaGroup.Shared/img/theme/default/background.webp");
}