/* Glassmorphism */
.glassmorphism-background {
    background-color: rgba(var(--bs-body-bg-rgb), 0.7);
    -webkit-backdrop-filter: blur(15px);
    backdrop-filter: blur(15px);
}

.glassmorphism-grid {
    --bs-table-bg: transparent;
}

.glassmorphism-input {
    background: transparent;
}

.glassmorphism-input:focus {
    background: transparent;
    border-color: var(--theme-primary-light);
    box-shadow: 0 0 0 .25rem rgba(var(--theme-primary-rgb), 0.25);
}