@import '_content/Havit.Blazor.Components.Web.Bootstrap/Havit.Blazor.Components.Web.Bootstrap.b0752fscgn.bundle.scp.css';
@import '_content/TemplaGroup.Chart/TemplaGroup.Chart.8yb5d558tz.bundle.scp.css';
@import '_content/TemplaGroup.Shared/TemplaGroup.Shared.bn6yi8b3ub.bundle.scp.css';

