@import '_content/Havit.Blazor.Components.Web.Bootstrap/Havit.Blazor.Components.Web.Bootstrap.bundle.scp.css';
@import '_content/TemplaGroup.Chart/TemplaGroup.Chart.bundle.scp.css';

/* /Shared/Animations/BarcodeAnim.razor.rz.scp.css */
.barcode-container[b-g0kb1tun8x] {
    width: 240px;
    height: 120px;
    margin: 10px auto;
    padding-top: 10px;
    border-radius: var(--bs-border-radius);
    background-color: white;
}

.center[b-g0kb1tun8x] {
    margin: 0 auto;
    text-align: center;
}

/* Barcode anim container */
.anim-box[b-g0kb1tun8x] {
    position: relative;
    width: 220px;
    height: 100px;
    padding: 25px 30px;
    transition: transform .6s ease-out;
    animation-play-state: running;
}

/* adds the 4 corners */
.anim-box[b-g0kb1tun8x]:before, .anim-box[b-g0kb1tun8x]:after, .anim-box > :first-child[b-g0kb1tun8x]:before, .anim-box > :first-child[b-g0kb1tun8x]:after {
    position: absolute;
    width: 10%;
    height: 15%;
    border-color: var(--bs-black);
    border-style: solid;
    content: ' ';
}

/* top left corner */
.anim-box[b-g0kb1tun8x]:before {
    top: 0;
    left: 0;
    border-width: 2px 0 0 2px;
}

/* top right corner */
.anim-box[b-g0kb1tun8x]:after {
    top: 0;
    right: 0;
    border-width: 2px 2px 0 0;
}

/* bottom right corner */
.anim-box > :first-child[b-g0kb1tun8x]:before {
    bottom: 0;
    right: 0;
    border-width: 0 2px 2px 0;
}

/* bottom left corner */
.anim-box > :first-child[b-g0kb1tun8x]:after {
    bottom: 0;
    left: 0;
    border-width: 0 0 2px 2px;
}

/* barcode bars */
.anim-item[b-g0kb1tun8x] {
    display: inline-block;
    background-color: var(--bs-black);
    height: 50px;
}

.anim-item-sm[b-g0kb1tun8x] {
    width: 2px;
    margin-right: 1px;
}

.anim-item-md[b-g0kb1tun8x] {
    width: 3px;
    margin-right: 1px;
}

.anim-item-lg[b-g0kb1tun8x] {
    width: 5px;
    margin-right: 1px;
}

/* animated laser beam */
.scanner[b-g0kb1tun8x] {
    width: 100%;
    height: 3px;
    background-color: red;
    opacity: 0.7;
    position: relative;
    box-shadow: 0 0 8px 10px rgba(170, 11, 23, 0.49);
    top: 50%;
    animation-name: scan-b-g0kb1tun8x;
    animation-duration: 3s;
    animation-timing-function: linear;
    animation-iteration-count: infinite;
    animation-play-state: running;
}

@keyframes scan-b-g0kb1tun8x {
    0% {
        box-shadow: 0 0 8px 10px rgba(170, 11, 23, 0.49);
        top: 50%;
    }
    25% {
        box-shadow: 0 6px 8px 10px rgba(170, 11, 23, 0.49);
        top: 5px;
    }
    75% {
        box-shadow: 0 -6px 8px 10px rgba(170, 11, 23, 0.49);
        top: 98%;
    }
}
/* /Shared/GridTemplates/GridSearchBox.razor.rz.scp.css */
.grid-search-box-input-icon[b-ajdysvyd9j] {
    position: absolute;
    top: 50%;
    transform: translateY(-50%);
    display: flex;
    align-items: center;
    z-index: 10;
}

.grid-search-box-input-icon-end[b-ajdysvyd9j] {
    right: .75rem;
}

.grid-search-box-input-with-search-icon[b-ajdysvyd9j] {
    border-top-right-radius: 0.375rem !important;
    border-bottom-right-radius: 0.375rem !important;
}
/* /Shared/Progress/ProcessProgress.razor.rz.scp.css */
.progress-wrapper > div[b-zv63nmxl4r] {
    height: 4px;
    background: var(--bs-secondary);
    position: relative;
    top: 32px;
    margin: 0 auto;
}

.progress-wrapper > div > div[b-zv63nmxl4r] {
    height: 4px;
    width: 0;
    border-radius: 1px;
    background: var(--bs-success);
}

.progress-wrapper > ul[b-zv63nmxl4r] {
    width: 100%;
    margin: 0;
    padding: 0;
    font-size: 0;
    list-style: none;
}

li.step[b-zv63nmxl4r] {
    display: inline-block;
    padding-top: 60px;
    font-size: 13px;
    font-weight: bold;
    line-height: 16px;
    color: var(--bs-secondary);
    vertical-align: top;
    position: relative;
    text-align: center;
    overflow: hidden;
    text-overflow: ellipsis;
}

li.step[b-zv63nmxl4r]::before {
    content: '\2716';
    position: absolute;
    top: 15px;
    left: calc(50% - 15px);
    z-index: 1;
    width: 30px;
    height: 30px;
    color: var(--bs-white);
    border: 2px solid var(--bs-body-bg);
    border-radius: 17px;
    line-height: 26px;
    background: var(--bs-secondary);
}

li.step.success[b-zv63nmxl4r] {
    color: var(--bs-success);
}

li.step.success[b-zv63nmxl4r]::before {
    content: '\2714';
    background-color: var(--bs-success);
}

li.step.current[b-zv63nmxl4r] {
    color: var(--bs-primary);
}

li.step.current[b-zv63nmxl4r]::after {
    content: '';
    position: absolute;
    top: 20px;
    left: calc(50% - 10px);
    z-index: 1;
    width: 20px;
    height: 20px;
    color: var(--bs-white);
    border: 2px solid var(--bs-body-bg);
    border-radius: 17px;
    line-height: 26px;
    background: var(--bs-primary);
}

li.step.current[b-zv63nmxl4r]::before {
    content: '';
    background-color: var(--bs-primary);
    animation: pulse-b-zv63nmxl4r 1.5s infinite ease-in;
}

@keyframes pulse-b-zv63nmxl4r {
    from {
        transform: scale(0.5);
        opacity: 1;
    }

    to {
        transform: scale(2);
        opacity: 0;
    }
}
/* /Shared/Progress/ProgressIndicator.razor.rz.scp.css */
.progress-container[b-m676o9pgjq] {
    z-index: 1200;
    width: 100vw;
    height: 100vh;
    position: absolute;
    background-color: rgba(0, 0, 0, 0.6);
}

.progress-container > div[b-m676o9pgjq] {
    position: absolute;
    width: 100%;
    top: 40%;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
}

.spinner[b-m676o9pgjq] {
    top: 35%;
    left: calc(50% - 50px);
    height: 100px;
    width: 100px;
    border: 4px solid transparent;
    border-top-color: var(--bs-primary);
    border-left-color: var(--bs-primary);
    border-radius: 50%;
    -webkit-animation: spin 1.5s linear infinite;
    animation: spin-b-m676o9pgjq 1.5s linear infinite;
}

.spinner[b-m676o9pgjq]::before {
    position: absolute;
    top: 15px;
    left: 15px;
    right: 15px;
    bottom: 15px;
    content: "";
    border: 4px solid transparent;
    border-top-color: var(--bs-primary-text-emphasis);
    border-left-color: var(--bs-primary-text-emphasis);
    border-radius: 50%;
    -webkit-animation: spinBack 1s linear infinite;
    animation: spinBack-b-m676o9pgjq 1s linear infinite;
}

@-webkit-keyframes spin {
    from {
        -webkit-transform: rotate(0deg);
        transform: rotate(0deg);
    }
    to {
        -webkit-transform: rotate(360deg);
        transform: rotate(360deg);
    }
}

@keyframes spin-b-m676o9pgjq {
    from {
        -webkit-transform: rotate(0deg);
        transform: rotate(0deg);
    }
    to {
        -webkit-transform: rotate(360deg);
        transform: rotate(360deg);
    }
}

@-webkit-keyframes spinBack {
    from {
        -webkit-transform: rotate(0deg);
        transform: rotate(0deg);
    }
    to {
        -webkit-transform: rotate(-720deg);
        transform: rotate(-720deg);
    }
}

@keyframes spinBack-b-m676o9pgjq {
    from {
        -webkit-transform: rotate(0deg);
        transform: rotate(0deg);
    }
    to {
        -webkit-transform: rotate(-720deg);
        transform: rotate(-720deg);
    }
}
/* /Shared/SidebarTemplates/Base/Sidebar.razor.rz.scp.css */
.clean-sidebar[b-iz5oy66thg] {
    display: flex;
    flex-direction: column;
    flex-shrink: 0;
    flex-basis: var(--hx-sidebar-width);
    flex-grow: 1;
    background-color: var(--hx-sidebar-background-color);
}

.clean-sidebar-collapse[b-iz5oy66thg] {
    flex-direction: column;
    flex-grow: 1;
}

@media (min-width: 768px) {
    .clean-sidebar[b-iz5oy66thg],
    .clean-sidebar .nav-menu[b-iz5oy66thg] {
        max-height: 100vh;
    }
}

.clean-sidebar-header[b-iz5oy66thg] {
    padding: var(--hx-sidebar-header-padding);
}

.clean-sidebar-body[b-iz5oy66thg] {
    padding: var(--hx-sidebar-body-padding);
}

.clean-sidebar-footer[b-iz5oy66thg] {
    display: flex;
    width: 100%;
    flex-grow: 0;
    padding: var(--hx-sidebar-footer-padding);
}

[b-iz5oy66thg] .clean-sidebar-navbar-toggler {
    font-size: 1.875rem;
    padding: 0;
    border: none !important;
    width: 2.5rem !important;
    height: 2.5rem !important;
    display: flex;
    justify-content: center;
    align-items: center;
}

[b-iz5oy66thg] .clean-sidebar-navbar-toggler:focus-within {
    box-shadow: 0 0 0 0.25rem rgb(13 110 253 / 25%);
}

.clean-sidebar-toggler[b-iz5oy66thg] {
    position: absolute;
    top: 50%;
    left: 100%;
    transform: translate(-50%, -50%);
}

.clean-sidebar:hover .clean-sidebar-toggler-icon-wrapper[b-iz5oy66thg] {
    opacity: .75;
}

.clean-sidebar .clean-sidebar-toggler-icon-wrapper:hover[b-iz5oy66thg] {
    opacity: 1;
}

.clean-sidebar-navbar-toggler:hover[b-iz5oy66thg] {
    color: var(--bs-primary);
}

[b-iz5oy66thg] a[aria-expanded="true"] .bi-chevron-right {
    transform: rotate(90deg);
}

/*Desktop collapsed*/
.clean-sidebar.collapsed[b-iz5oy66thg] {
    width: var(--hx-sidebar-collapsed-width);
}

.clean-sidebar.collapsed[b-iz5oy66thg]  .clean-sidebar-brand-name,
.clean-sidebar.collapsed[b-iz5oy66thg]  .clean-sidebar-item-navlink-content-inner,
.clean-sidebar.collapsed[b-iz5oy66thg]  .expand-icon {
    display: none;
}
/* /Shared/SidebarTemplates/Base/SidebarBrand.razor.rz.scp.css */
.clean-sidebar-brand-logo[b-ax1wdwxxm7] {
    width: var(--hx-sidebar-brand-logo-width);
    height: var(--hx-sidebar-brand-logo-height);
}

.clean-sidebar-brand-shortname[b-ax1wdwxxm7] {
    background-color: var(--hx-sidebar-brand-shortname-background-color);
    border-radius: var(--hx-sidebar-brand-shortname-border-radius);
    width: var(--hx-sidebar-brand-shortname-width);
    height: var(--hx-sidebar-brand-shortname-height);
    font-weight: var(--hx-sidebar-brand-shortname-font-weight);
    color: var(--hx-sidebar-brand-shortname-color);
    display: flex;
    align-items: center;
    justify-content: center;
}

a[b-ax1wdwxxm7] {
    display: inline-flex;
    align-items: center;
    text-decoration: none;
    font-size: .875rem;
}

.clean-sidebar-brand-name[b-ax1wdwxxm7] {
    font-size: 1.25rem;
    margin-left: .5rem;
    color: var(--hx-sidebar-brand-name-color);
    font-weight: var(--hx-sidebar-brand-name-font-weight);
}
/* /Shared/SidebarTemplates/Base/SidebarItem.razor.rz.scp.css */
[b-09p601p3x6] .clean-sidebar-item {
    display: block; /*Overrides the inline flex from btn-group placed by HxDropdown*/
}

[b-09p601p3x6] .nav-link {
    line-height: 1;
    padding: var(--hx-sidebar-item-padding);
    margin: var(--hx-sidebar-item-margin);
    font-size: var(--hx-sidebar-item-font-size);
    color: var(--hx-sidebar-item-color);
    border-radius: var(--hx-sidebar-item-border-radius);
}

[b-09p601p3x6] .clean-sidebar-item-navlink-content {
    display: flex;
    flex-direction: row;
    align-items: center;
    align-self: stretch;
    gap: .75rem;
}

[b-09p601p3x6] .clean-sidebar-subitems.collapse .nav-link,
[b-09p601p3x6] .clean-sidebar-subitems.collapsing .nav-link {
    margin: var(--hx-sidebar-subitem-margin);
    padding: var(--hx-sidebar-subitem-padding);
    font-size: var(--hx-sidebar-subitem-font-size);
    display: flex;
}

[b-09p601p3x6] .clean-sidebar-subitems.show .clean-sidebar-item-navlink-content-inner {
    display: inline-flex;
}

[b-09p601p3x6] .clean-sidebar-item-navlink-content-inner {
    display: flex;
    align-items: center;
    margin-right: auto;
}

[b-09p601p3x6] .clean-sidebar-collapsed-nav {
    flex-direction: column;
}

[b-09p601p3x6] a.nav-link:hover,
[b-09p601p3x6] a.nav-link.active:hover,
[b-09p601p3x6] a.nav-link.active,
.navbar-desktop-toggler:hover[b-09p601p3x6] {
    background-color: rgba(var(--hx-sidebar-item-hover-background-color), var(--hx-sidebar-item-hover-background-opacity));
    color: var(--hx-sidebar-item-hover-color);
}

[b-09p601p3x6] i {
    color: var(--hx-sidebar-item-icon-color);
    transition: transform .35s ease;
    transform-origin: .5em 50%;
}

[b-09p601p3x6] a.nav-link:hover i,
[b-09p601p3x6] a.nav-link.active i {
    color: var(--hx-sidebar-item-hover-icon-color);
}

[b-09p601p3x6] .bi-chevron-right {
    font-size: .75rem;
    margin-left: .5rem;
}

[b-09p601p3x6] .dropdown-menu {
    max-height: 100vh;
    overflow: auto;
}
/* /Shared/StatusTemplates/StatusBadge.razor.rz.scp.css */
.display-7[b-3rroil1asw] {
    font-size: 1.2rem;
}
