.bouncing-dot {
    width: 24px;
    height: 24px;
    background: #8c4484;
    border-radius: 100%;
    display: inline-block;
    animation: slide 1s infinite;
}
.bouncing-dot:nth-child(1) {
    animation-delay: 0.1s;
    background: #b78bd0;
}
.bouncing-dot:nth-child(2) {
    animation-delay: 0.2s;
    background: #d0bda8;
}
.bouncing-dot:nth-child(3) {
    animation-delay: 0.3s;
    background: #bca494;
}
.bouncing-dot:nth-child(4) {
    animation-delay: 0.4s;
    background: #bca48c;
}
.bouncing-dot:nth-child(5) {
    animation-delay: 0.5s;
    background: #987f66;
}
@-moz-keyframes slide {
    0% {
        transform: scale(1);
    }
    50% {
        opacity: 0.3;
        transform: scale(2);
    }
    100% {
        transform: scale(1);
    }
}
@-webkit-keyframes slide {
    0% {
        transform: scale(1);
    }
    50% {
        opacity: 0.3;
        transform: scale(2);
    }
    100% {
        transform: scale(1);
    }
}
@-o-keyframes slide {
    0% {
        transform: scale(1);
    }
    50% {
        opacity: 0.3;
        transform: scale(2);
    }
    100% {
        transform: scale(1);
    }
}
@keyframes slide {
    0% {
        transform: scale(1);
    }
    50% {
        opacity: 0.3;
        transform: scale(2);
    }
    100% {
        transform: scale(1);
    }
}